/* Global style */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Core styles */
body {
    background-color:#0B0C10;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 1.5;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

ul {
  list-style:none;
  color: #f2f2f2
}

h1, h2, p{
  color: #f2f2f2;
}

/* Size of elements */
.container {
  width: 80%;
  max-width:1100px;
  margin: auto;
  background-color: #0B0C10;
}

/* Nav Bar Styles */
.nav-bar {
  position: fixed;
  width: 80%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  height:80px;
  padding: 20px 10px;
}

.nav-bar .large-name {
  color: #f2f2f2;
  font-size: 30px;
}

.nav-bar ul {
  display:flex;
  justify-content: flex-end;
}

.nav-bar ul.right-menu{
  justify-content: flex-end;
}

.nav-bar ul li{
  padding: 0px 20px;
}

.nav-bar ul li a:hover{
  color: #45A29E;
}
/*Blog style */
.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  height: 300px;
  padding: 20px;
  padding-top: 200px;
  margin-top:10px;
}

.blog .picture {
  margin: auto;
}

.blog .content {
  grid-column:2/span 2;
}

.blog .content h1{
  margin-bottom: 30px;
}

.blog .content h1:hover{
  margin-bottom: 30px;
  color: #45A29E;
}

.blog img {
  height: 255px;
  width: 255px;
}


/* Connect with me */
.connect {
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 100px;
  padding: 300px 20px;

}

.connect .socials {
  display: flex;
  justify-content: space-between;
}

/* Adjust for small screen sizes */
@media (max-width: 700px) {
  .blog {
    display: flex;
    flex-direction: column;
    height: 500px;

  }

  .blog .content {
    grid-column: 1/span 1;
  }
}
