
/*Setting global style */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Core Styles */
body {
    background-color:#0B0C10;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 1.5;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

ul {
  list-style:none;
  color: #f2f2f2
}

h1, h2, p{
  color: #f2f2f2;
}

/* Size of elements */
.container {
  width: 80%;
  max-width:1100px;
  margin: auto;
  background-color: #0B0C10;
}

/* Nav Bar Styles */
.nav-bar {
  position: fixed;
  width: 80%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  height:80px;
  padding: 20px 10px;
}

.nav-bar .large-name {
  color: #f2f2f2;
  font-size: 30px;
}

.nav-bar ul {
  display:flex;
  justify-content: flex-end;
}

.nav-bar ul.right-menu{
  justify-content: flex-end;
}

.nav-bar ul li{
  padding: 0px 20px;
}

.nav-bar ul li a:hover{
  border-bottom: 2px solid #45A29E;
  color: #45A29E;
}

/* Header styles */
.about-me {
  display: flex;
  height: 300px;
  padding: 20px;
  margin-top:10px;
  justify-content: space-between;
  align-items: center;
}

.about-me ul {
  margin-right: 150px;
}

.about-me ul li {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
}

.about-me .profile-pic {
  border-radius: 50%;
  width: 200px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;

}

/* What I styles */
.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  padding:20px 10px;
}

.cards {
  margin: 20px 50px;
}

.cards div {
  margin: 20px 50px;
}

.cards img{
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.cards .card-text {/*add Java Script for this later */
  display: none;
}

.cards img:hover {
  opacity: .25;
  transition: .5s ease;
  background-color: #1F2833;
}

.cards .card-text {
  display: none;
}

/*Blog style */
.blog-one {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 100px;
}

.blog-one .picture {
  margin:auto;
}

.blog-one .content {
  grid-column:2/span 2;
}

.blog-one .content h1{
  margin-bottom: 30px;
}

/* Connect with me */
.connect {
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 100px;
  padding: 50px 20px;
  margin-bottom: 100px;
}

.connect .socials {
  display: flex;
  justify-content: space-between;
}
