
/*Setting background color */
body {
  background-color: #6CDAFE;
}

/* Header */
.header{
  text-align: left;
  padding-left: 60px;
  padding-bottom: 0px;
  padding-right: 60px;
  width: 300px;
  background: #6CDAFE;
  color: #F2F2F2;
  font-size: 20px;
  font-family: 'Montserrat';
}

/* Navitation Bar */
.nav{
   background: #6CDAFE; 
}

.nav a{
    float: left;
    color: #F2F2F2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;

}

